

<div class="row table table-striped">
  <div class="col-md-12">
      <strong><%= message.user.name %></strong>
      <p><%= message.body %></p>
  </div>
  <div class="col-md-12">
    <em class="small"><%= message.created_at.strftime("%m/%d/%y at %l:%M %p") %></em>
  </div>
</div>