
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="background: aliceblue;color: dimgray">Chat with  <%= @receiver.name %></h1>
      </div>
      <div class="col-md-12">
        <%= form_for @message do |f| %>
            <%= hidden_field_tag 'receiver_id', @receiver.id %>
            <%= f.text_area :body,:class => "form-control",:style => "margin-top: -1px"%>
            <div class="row mt-3">
              <div class="col-md-12">
                <%= f.submit :class => "btn btn-primary"%>
                <%= link_to('Back', root_path,:class => "mx-5 px-5 btn btn-primary") %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>