Welcome, <%= @user.email %> to the our plateform for usinf many services.
===============================================

Access to app under following URL: <%= @url %>.

Thanks for joining and have a great day!