<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome, <%= @user.email %></h1>
<p>
  to the Our Plateform where you find many services
  Access to app under following URL: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>