

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="px-3" style="background: aliceblue;color: dimgray">Inbox</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tex-center">
        <h3 class="px-3"><%= link_to conversation.with(current_user).name , conversation_path(conversation)%></h3>
      </div>
      <div class="col-md-12">
        <em class="px-3"><%= conversation.messages.last.body.truncate(50) %></em>
      </div>
    </div>
  </div>
</div>

