
<div class="section mt-5">
  <div class="container">
    <div class="container pb50 ">
      <div class="row">
        <div class="col-md-8">
          <div>
            <%= render @conversations %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="text-center mb30 danger">Users</h4>
            <table class="table table-striped">
              <thead>
              <tr class="info">
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr class="success">
                  <td>
                    <%= link_to user.name, new_message_path(receiver_id: user) %>
                  </td>
                  <td>
                    <%=user.email%>
                  </td>
                  <td>
                    <%= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button button-xs button-circle button-danger') %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

