<div class ="container">
  <div class="section">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
        <h2>This is a about Seceion</h2>
        </div>
      </div>
    </div>
  </div>
</div>