
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1>Register your self to Login</h1>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card p-5">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "email" ,class: "form-control"%>
                  </div>

                  <div class="field">
                    <%= f.label :city %><br />
                    <%= f.text_field :city, autocomplete: "city" ,class: "form-control"%>
                  </div>

                  <div class="field">
                    <%= f.label :phone_number %><br />
                    <%= f.text_field :phone_number, autocomplete: "phone_number" ,class: "form-control"%>
                  </div>

                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control"%>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control"%>
                  </div>

                  <div class="actions mt-5">
                    <%= f.submit "Sign up" , class: "btn btn-primary btn-block" %>
                  </div>
              <% end %>
            </div>

            <div class="row text-center">
              <%= render "users/shared/links" ,class: "mt-3" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


